.product-card {
    width: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
}

.product-card .product-img {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid #777;
}

.product-card .product-info {
    padding: 1rem;
}
.product-card .product-info p {
    margin: 0;
}
.product-card .product-info .product-brand {
    color: #777;
}
.product-card .product-info .product-price {
    margin-top: auto;
}
